/* breakpoints */
/* colors */
/* define mixin */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto; }

/* MOBILE QUERIES */
@media (min-width: 320px) and (max-width: 640px) {
  .navbar {
    background-color: #373c3f;
    display: flex; }
  .content {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 20px;
    line-height: 24px; }
    .content h3 {
      color: #088ca5; }
  .hero {
    background-color: #11a9be;
    padding: 10px; }
    .hero-wrapper {
      padding: 50px;
      color: #a8d5df;
      font-size: 1.2em; }
      .hero-wrapper p:first-child {
        font-size: 2.3em;
        color: #ffffff; }
  .first-row {
    display: flex; }
    .first-row-wrapper-left {
      background-color: #27212c;
      color: #9a89a8;
      width: 100%;
      display: flex;
      font-size: 1.5em; }
      .first-row-wrapper-left p {
        padding-top: 35px;
        padding-left: 6px; }
    .first-row-wrapper-right {
      display: flex; }
  .second-row img {
    width: 100%; }
  .second-row-wrapper {
    display: flex;
    align-items: center; } }

/*TABLET QUERIES*/
@media (min-width: 641px) and (max-width: 1024px) {
  .content {
    background-color: red; } }

/*DESKTOP QUERIES*/
@media (min-width: 1025px) {
  .content {
    background-color: yellow; } }
