/* breakpoints */
/* @mixin breakpoint($media) {
  @if $media == xs {
    @media (max-width: 320px) { @content; }
  }
   @else if $media == sm {
    @media (max-width: 640px) { @content; }
  }
  @else if $media == md {
    @media (max-width: 980px) { @content; }
  }
  @else if $media == lg {
    @media (max-width: 1024px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg"
  }
}
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 1024px;
  background-color: black; }
  @media screen and (max-width: 980px) {
    body {
      background-color: orange; } }
  @media screen and (max-width: 640px) {
    body {
      background-color: blue; } }
  @media screen and (max-width: 320px) {
    body {
      background-color: green; } }

.container {
  box-sizing: border-box;
  align-content: center; }

.navbar {
  background-color: pink; }

.hero {
  background-color: aquamarine; }

.first-row-wrapper-left {
  background-color: grey; }

.first-row-wrapper-right {
  background-color: purple; }

.second-row-wrapper-left {
  background-color: red; }

.second-row-wrapper-center {
  background-color: green; }

.second-row-wrapper-right {
  background-color: brown; }

.content {
  background-color: yellow; }
