/* fonts */
/* colors */
/* breakpoints */
/* define mixin */
body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: "montserratregular"; }

@font-face {
  font-family: 'montserratbold';
  src: url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.navbar {
  background-color: #373c3f;
  display: flex;
  height: auto; }
  .navbar-title {
    display: none; }
  .navbar-content {
    color: #ffffff;
    display: flex;
    list-style: none; }
    .navbar-content-list.navbar-content-list a {
      text-decoration: none;
      color: white; }

/*MOBILE QUERIES*/
@media (min-width: 320px) and (max-width: 640px) {
  .navbar {
    position: relative;
    justify-content: space-between;
    width: 100%; }
    .navbar-title {
      display: block;
      color: #ffffff;
      padding-left: 5vw; }
    .navbar-hamburger {
      position: relative;
      align-self: center;
      width: 30px;
      height: 20px;
      border-bottom: 2px solid #ffffff;
      border-top: 2px solid #ffffff;
      cursor: pointer;
      right: 17px; }
      .navbar-hamburger:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: #ffffff;
        bottom: 9px; }
      .navbar-hamburger:hover ~ .navbar-content {
        max-height: 100vh;
        left: 60vmin; }
    .navbar-content {
      position: absolute;
      top: 40px;
      display: flex;
      flex-direction: column;
      background-color: #373c3f;
      max-height: 0;
      overflow: hidden;
      width: auto;
      margin: 0;
      padding: 0;
      transition: max-height 0.4s ease-in-out;
      left: 60vmin; }
      .navbar-content li {
        list-style: none;
        padding: 20px 15px; }
        .navbar-content li:not(:last-child) {
          border-bottom: 1px solid gray; } }

/*TABLET QUERIES*/
@media (min-width: 641px) and (max-width: 1024px) {
  .navbar {
    position: relative;
    justify-content: space-between;
    width: 100%; }
    .navbar-title {
      display: block;
      color: #ffffff;
      padding-left: 33px;
      font-size: 2.3vh; }
    .navbar-hamburger {
      position: relative;
      align-self: center;
      width: 30px;
      height: 20px;
      border-bottom: 2px solid #ffffff;
      border-top: 2px solid #ffffff;
      cursor: pointer;
      right: 17px; }
      .navbar-hamburger:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: #ffffff;
        bottom: 9px; }
      .navbar-hamburger:hover ~ .navbar-content {
        max-height: 100vh;
        left: 75vmin; }
    .navbar-content {
      position: absolute;
      top: 60px;
      display: flex;
      flex-direction: column;
      background-color: #373c3f;
      max-height: 0;
      overflow: hidden;
      width: auto;
      padding: 0; }
      .navbar-content li {
        list-style: none;
        padding: 20px 15px; }
        .navbar-content li:not(:last-child) {
          border-bottom: 1px solid gray; } }

/*DESKTOP QUERIES*/
@media (min-width: 1025px) {
  .navbar {
    display: inline-block;
    width: 100%; }
    .navbar-content {
      list-style: none;
      font-size: 1.3vw; }
      .navbar-content-list {
        padding: 4%;
        padding-left: 2%; }
        .navbar-content-list.navbar-content-list a {
          text-decoration: none;
          color: white; } }

.hero {
  background-color: #11a9be;
  padding: 3vmin; }
  .hero-wrapper {
    padding: 32px 0px 35px 20px;
    font-size: 6vw; }
    .hero-wrapper-text {
      color: #ffffff; }
    .hero-wrapper-linkpage {
      color: #a8d5df;
      font-size: 3vw; }

/*MOBILE QUERIES*/
/*TABLET QUERIES*/
@media (min-width: 641px) and (max-width: 1024px) {
  .hero-wrapper {
    font-size: 7vw; } }

/*DESKTOP QUERIES*/
@media (min-width: 1025px) {
  .hero {
    padding: 15vmin; } }

.first-row {
  display: flex; }
  .first-row-wrapper-left {
    background-color: #27212c;
    color: #9a89a8;
    width: 100%;
    display: flex;
    font-size: 3.3vw; }
    .first-row-wrapper-left-text {
      padding-left: 10%;
      width: 100%;
      align-self: center; }
  .first-row-wrapper-right {
    display: flex;
    background-color: #bc3183;
    width: 100%;
    flex: 1 3 auto; }
    .first-row-wrapper-right img {
      width: 5vw;
      padding-left: 42%; }

/*MOBILE QUERIES*/
@media (min-width: 320px) and (max-width: 640px) {
  .first-row-wrapper-right {
    flex: 1 2.7 auto; }
    .first-row-wrapper-right img {
      width: 5vw;
      padding: 11vw; }
    .first-row-wrapper-right-arrow {
      width: 32vw; } }

/*TABLET QUERIES*/
@media (min-width: 641px) and (max-width: 1024px) {
  .first-row-wrapper-left {
    font-size: 3vw; }
    .first-row-wrapper-left-text {
      padding-left: 15%; }
  .first-row-wrapper-right {
    width: unset; }
    .first-row-wrapper-right img {
      padding: 8vh; }
    .first-row-wrapper-right-arrow {
      width: 25vw;
      height: 18.4vh; } }

/*DESKTOP QUERIES*/
@media (min-width: 1025px) {
  .first-row-wrapper-left {
    font-size: 3vw; }
    .first-row-wrapper-left-text {
      padding-left: 15%; }
  .first-row-wrapper-right {
    width: unset; }
    .first-row-wrapper-right img {
      padding: 10vh; }
    .first-row-wrapper-right-arrow {
      height: 18.4vh; } }

.second-row-wrapper {
  display: flex;
  align-items: center; }
  .second-row-wrapper-imgs {
    width: 100%; }
    .second-row-wrapper-imgs-adjust {
      width: 100%; }

/*MOBILE QUERIES*/
@media (min-width: 320px) and (max-width: 640px) {
  .second-row-wrapper-imgs {
    width: 100%; } }

/*TABLET QUERIES*/
@media (min-width: 641px) and (max-width: 1024px) {
  .second-row {
    display: flex;
    align-items: start; } }

/*DESKTOP QUERIES*/
@media (min-width: 1025px) {
  .second-row {
    display: flex;
    align-items: start; }
    .second-row-wrapper {
      width: 100%; } }

.features {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  line-height: 24px; }
  .features-left-title {
    color: #088ca5; }

/*MOBILE QUERIES*/
/*TABLET QUERIES*/
@media (min-width: 641px) and (max-width: 1024px) {
  .features {
    flex-direction: row;
    padding: 30px 30px 65px 30px;
    height: auto; }
    .features-left {
      padding-right: 50px;
      padding-left: 10px; }
      .features-left-title {
        font-size: 2.6vh; }
    .features-right {
      padding-top: 6vh; } }

/*DESKTOP QUERIES*/
@media (min-width: 1025px) {
  .features {
    flex-direction: row;
    padding: 35px 30px 65px 65px;
    height: 33vh; }
    .features-left {
      padding-right: 50px;
      padding-left: 10px;
      height: 25vh; }
      .features-left p {
        width: 87%; }
    .features-right {
      height: 20vh;
      padding-top: 3.7vh; }
      .features-right p {
        width: 87%; } }
