.features {
  background-color: $beige;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  line-height: 24px;

  &-left-title {
    color: $strong-blue;
  }
}
/*MOBILE QUERIES*/
@include breakpoint(mobile) {
  .features {
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    line-height: 24px;

    &-left-title {
    }
  }
}

/*TABLET QUERIES*/
@include breakpoint(tablet) {
  .features {
    flex-direction: row;
    padding: 30px 30px 65px 30px;
    height: auto;

    &-left {
      padding-right: 50px;
      padding-left: 10px;

      &-title {
        font-size: 2.6vh;
      }
    }
    &-right {
      padding-top: 6vh;
    }
  }
}

/*DESKTOP QUERIES*/
@include breakpoint(desktop) {
  .features {
      flex-direction: row;
      padding: 35px 30px 65px 65px;
      height: 24vh;
      &-left {
        padding-right: 50px;
        padding-left: 10px;
        height: 25vh;
        & p {
            width: 87%;
        }
      }
      &-right {
          height: 20vh;
          padding-top: 5.5vh;
          & p {
              width: 87%;
          }
      }
  }
}
