.first-row {
  display: flex;
  &-wrapper-left {
    background-color: $dark-purple;
    color: $light-pink;
    width: 100%;
    display: flex;
    font-size: 3.3vw;

    &-text {
      padding-left: 10%;
      width: 100%;
      align-self: center;
    }
  }
  &-wrapper-right {
    display: flex;
    background-color: $pink;
    width: 100%;
    & img {
      width: 5vw;
      padding-left: 42%;
    }
  }
}
/* MOBILE QUERIES */
@include breakpoint(mobile) {
  .first-row {
    &-wrapper-right {
      & img {
        width: 5vw;
        padding: 11vw;
      }
      &-arrow {
        width: 32vw;
      }
    }
  }
}
/* TABLET QUERIES */
@include breakpoint(tablet) {
  .first-row {

    &-wrapper-left {
      font-size: 3vw;
      &-text {
        padding-left: 15%;
      }
    }
    &-wrapper-right {
      width: unset;
      & img {
        padding: 8vh;
      }
      &-arrow {
        width: 25vw;
        height: 18.4vh;
      }
    }
  }
}
/* DESKTOP QUERIES */
@include breakpoint(desktop) {
  .first-row {
    &-wrapper-left {
      font-size: 3vw;

      &-text{
        padding-left: 15%;
      }
    }
    &-wrapper-right {
      width: unset;

      & img {
        padding: 10vh;
      }
      &-arrow {
        height: 18.4vh;
      }
    }
  }
}
