.second-row {

  &-wrapper {
    display: flex;
    align-items: center;

    &-imgs {
      width: 100%;
      &-adjust {
        width: 100%;
      }
    }
  }
}
/* MOBILE QUERIES */
@include breakpoint(mobile) {
  .second-row {

    &-wrapper {

      &-imgs {
        width: 100%;
      }
    }
  }
}
/* TABLET QUERIES */
@include breakpoint(tablet) {
  .second-row {
    display: flex;
    align-items: start;
  }
}
/* DESKTOP QUERIES */
@include breakpoint(desktop) {
  .second-row {
    display: flex;
    align-items: start;

    &-wrapper {
      width: 100%;
    }
  }
}
