/* fonts */
$font-family-base: 'montserratregular';
$font-family-light: 'montserratlight';
$font-family-bold: 'montserratbold';
/* colors */
$blue-bg: #11a9be;
$white: #ffffff;
$blue-gray: #a8d5df;
$dark-purple: #27212c;
$light-pink: #9a89a8;
$beige: #ebebeb;
$strong-blue: #088ca5;
$gray: #373c3f;
$pink: #bc3183;
$purple-bg: #5b0fa1;
/* breakpoints */
$phone-min: 320px;
$phone-max: 640px;
$tablet: 980px;
$desktop: 1024px;
